[Desktop Entry]
Type=Application
Name=Garland Turbine
Comment=A simple yet powerful console-based C++ text editor
Exec=gedi %F
Icon=gedi_1.0
Terminal=true
Categories=Development;TextEditor;
Keywords=Text;Editor;C++;Terminal;
MimeType=text/x-c++src;text/x-c++hdr;text/x-chdr;text/x-csrc;
